{% extends 'layouts/baseAdmin.html' %}
{% block content %}
{% if context.modal %}
<div id="modal" class="modal">
    <p>{{ context.message }}</p>
    {% url 'show_types_insurances' as url %}
    <button class="boton options" onclick="window.location.href='{{url}}'"><strong>OK</strong></button>                           
</div>
{% endif %} 
<section>
    <h3 class="h3-forms">Registrar Tipo de Seguro</h3>
</section>
<form method="post" id="formGlobal" >
    {% csrf_token %}
    <section class="column">
        <label for="type">Nombre del tipo de seguro:</label>
        <input name="type" type="text">
    </section>
    <section class="contentButton">
        <button id="botton-form" type="submit"><strong>Registrar</strong></button>
    </section>
</form>
{% endblock %}