{% extends 'layouts/baseAdmin.html' %}
{% load static %}
{% block content %}
{% if context.modal %}
<div id="modal" class="modal">
    <p>{{ context.message }}</p>
    {% url 'show_insurers' as url %}
    <button class="boton options" onclick="window.location.href='{{url}}'"><strong>OK</strong></button>                           
</div>
{% endif %} 
<section>
    <h3 class="h3-forms">Registrar Aseguradora</h3>
</section>
<form id="formGlobal" method="post">
    {% csrf_token %}
    <section>
        <label for="name">Nombre:</label>
        <input id="name" name="name" type="text">
    </section>
    <section>
        <label for="phone">Teléfono:</label>
        <input id="phone" name="phone" type="number">
    </section>
    <section>
        <label for="address">Dirección:</label>
        <input id="address" name="address" type="text">
    </section>
    <section class="contentButton">
        <button id="botton-form" type="submit"><strong>Registrar</strong></button>
    </section>
</form>
{% endblock %}
