{% extends 'layouts/baseAdmin.html' %}
{% block content %}
<section>
    <h3 class="h3-forms">Registrar Seguro</h3>
</section>
<form method='post' action="{% url 'admin_seguros_agregar'%}" id="formGlobal">
    {% csrf_token %}
    <section class="column">
        <label for="type">Nombre del seguro:</label>
        <input name="type" type="text">
    </section>
    <section class="column">
        <label for="typeInsurance">Tipo de seguro al que pertenecerá:</label>
        <select name="typeInsurance" required>
            {% for tipo_seguro in context.tipos_seguros %}
            <option value={{tipo_seguro.id}}>{{tipo_seguro.nombre}}</option>
            {% endfor %}
        </select>
    </section>
    <section class="contentButton">
        <button id="botton-form" type="submit"><strong>Registrar</strong></button>
    </section>
</form>
{% if context.modal %}
<div id="modal" class="modal">
    <p>{{ context.mensaje }}</p>
    <button class="boton options" id="cerrar-modal2"><strong>OK</strong></button>                           
</div>
{% endif %} 
<script>
const cerrrarModal2 = document.getElementById('cerrar-modal2');
const modal = document.getElementById('modal');
cerrrarModal2.addEventListener('click', () =>{
modal.style.display = 'none';
})
</script> 
{% endblock %}