{% extends 'layouts/baseAdmin.html' %}
{% block content %}
<section>
    <h3 class="h3-forms">Editar tipo de seguro</h3>
</section>
    <form id="formGlobal" method="post">
        {% csrf_token %}
        <section>
            <label for="name">Nombre:</label>
            <input value="{{ context.type_insurance.nombre }}" id="name" name="name" type="text">
        </section>
        <section class="contentButton">
            {% url 'show_types_insurances' as url_list %} 
            <button id="botton-form" type="button" onclick="window.location.href='{{url_list}}'"><strong>Cancelar</strong></button>
            <button id="botton-form" type="submit"><strong>Guardar cambios</strong></button>
        </section>
    </form>
    {% if messages %}
      {% for message in messages %}
        <script> 
            Swal.fire({
            title:'{{ message }}',
            icon: '{{ message.tags }}',
            confirmButtonColor: '#0048B0',
        }).then((result) => {
            if(result.isConfirmed){
                window.location.href = "{% url 'show_types_insurances'%}"
            }
        })
        </script>
        {% endfor %}
    {% endif %} 

{% endblock %}







