{% extends 'layouts/baseAdmin.html' %}
{% block content %}
<section>
    <h3 class="h3-forms">Editar siniestro</h3>
</section>
    <form id="formGlobal" method="post">
        {% csrf_token %}
            {% csrf_token %}
            <section class="column">
                <label for="date">Fecha del siniestro:</label>
                <input  value="{{ context.claim.fecha| date:'Y-m-d' }}" class="date" name="date" type="date"  required></input>
            </section>
            <section class="column">
                <label for="description">Descripción:</label>
                <input value="{{ context.claim.descripcion }}" name="description" type="text" placeholder="Escriba aquí" required></input>
            </section>
            <section class="column">
                <label for="state">Estado:</label>
                <select class="size"  name="state" required>
                    <option value="REPORTADO" {% if context.claim.estado == 'REPORTADO' %} selected {% endif %}>Reportado</option>
                    <option value="EN_PROCESO" {% if context.claim.estado == 'EN_PROCESO' %} selected {% endif %}>En proceso</option>
                    <option value="RECHAZADO" {% if context.claim.estado == 'RECHAZADO' %} selected {% endif %}>Rechazado</option>
                    <option value="PAGADO" {% if context.claim.estado == 'PAGADO' %} selected {% endif %}>Pagado</option>
                    <option value="RESUELTO"  {% if context.claim.estado == 'RESUELTO' %} selected {% endif %}>Resuelto</option>
                </select>
            </section>
        <section class="contentButton">
            {% url 'show_claims' as url_list %} 
            <button id="botton-form" type="button" onclick="window.location.href='{{url_list}}'"><strong>Cancelar</strong></button>
            <button id="botton-form" type="submit"><strong>Guardar cambios</strong></button>
        </section>
    </form>
    {% if messages %}
      {% for message in messages %}
        <script> 
            Swal.fire({
            title:'{{ message }}',
            icon: '{{ message.tags }}',
            confirmButtonColor: '#0048B0',
        }).then((result) => {
            if(result.isConfirmed){
                window.location.href = "{% url 'show_claims'%}"
            }
        })
        </script>
        {% endfor %}
    {% endif %}
{% endblock %}







