{% extends 'layouts/baseAdmin.html' %}
{% load static %}
{% block content %}
<section id="clientes">
    <h3>Listado de Aseguradoras</h3>
</section>
<div id="general">
    <section id="buscar">
        <label for="buscar">Buscar:</label>
        <input name="buscar" type="text"></input>
    </section>
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Teléfono</th>
                <th>Dirección</th>
            </tr>
        </thead>
        <tbody>
            {% for aseguradora in aseguradoras %}
            <tr id="datos">
                <td>{{ aseguradora.nombre }}</td>
                <td>{{ aseguradora.telefono }}</td>
                <td>{{ aseguradora.direccion }}</td>
                <td>
                <button class="button-icon">
                    <figure>
                        <img src="{% static 'assets/edit.png' %}" alt="icono">
                    </figure>
                </button>                                     
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}