{% extends 'layouts/baseAdmin.html' %}
{% load static %}
{% block content %}
<section id="clientes">
    <h3>Listado de Aseguradoras</h3>
</section>
<div id="general">
    <section id="buscar">
        <label for="buscar">Buscar:</label>
        <input name="buscar" type="text"></input>
    </section>
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Teléfono</th>
                <th>Dirección</th>
            </tr>
        </thead>
        <tbody>
            {% for aseguradora in aseguradoras %}
            <tr id="datos">
                <td>{{ aseguradora.nombre }}</td>
                <td>{{ aseguradora.telefono }}</td>
                <td>{{ aseguradora.direccion }}</td>
                <td>
                    <div class="boton-menu">
                        <button class="boton options"><strong>Opciones</strong></button>
                        <ul class="menu-desplegable">
                            <button class="icono-options options">
                                <figure>
                                    <img src="{% static 'assets/user-edit.png' %}" alt="icono">
                                </figure>
                                <p>Editar</p>
                            </button>
                            <button id="abrir-modal" class="icono-options options">
                                <figure>
                                    <img src="{% static 'assets/delete.png' %}" alt="icono">
                                </figure>
                                <p>Eliminar</p>
                            </button>
                        </ul>
                    </div>
                    <div id="modal" class="modal">
                        <p>¿Estas seguro de eliminarla?</p>
                        <button class="boton options" id="cerrar-modal2"><strong>Cancelar</strong></button>
                        <button class="boton options" id="cerrar-modal"><strong>Si, eliminar</strong></button>                              
                    </div>
                    <script src="{% static 'js/showModal.js' %}"></script>                   
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <script>  const botonesMenu = document.querySelectorAll('.boton');
     botonesMenu.forEach(boton => { 
       boton.addEventListener('click', function () {
              const menuDesplegable = boton.nextElementSibling;     
               menuDesplegable.style.display = menuDesplegable.style.display === 'block' ? 'none' : 'block';    });  });
    </script>
</div>
{% endblock %}