{% extends 'layouts/baseAdmin.html' %}
{% block content %}
    <section>
        <h3 class="h3-forms">Mi perfil</h3>
    </section>
    <div class="perfil-informacion">
        <div class="perfil-datos">
          <p><strong>Nombre:</strong> {{ user.nombre }}</p>
          <p><strong>Tipo de documento:</strong> {{ user.tipo_documento }}</p>
          <p><strong>Documento:</strong> {{ user.num_documento }}</p>
          <p><strong>Correo electrónico:</strong> {{ user.email }}</p>
        </div>
        <section class="contentButton">
           <button id="botton-form"><strong>Editar perfil</strong></button>
        </section>
    </div> 
{% endblock %}
