{% extends 'layouts/baseAdmin.html' %}
{% load static %}
{% block content %}
<section id="clientes">
    <h3>Listado de seguros</h3>
</section>
<div id="general">
    <section id="buscar">
        <p id="count" class="space-num">{{ seguros.count }}</p>
        <section>
            <label for="buscar">Buscar:</label>
            <input name="buscar" type="text" placeholder="Nombre..."></input>
        </section>
    </section>
    <table>
        <thead class="second2">
            <tr>
                <th>Nombre</th>
                <th>Tipo de seguro</th>
            </tr>
        </thead>
        <tbody class="second2">
            {% for seguro in seguros %}
            <tr id="datos">
                <td>{{ seguro.nombre }}</td>
                <td>{{ seguro.tipo_seguro_id.nombre }}</td>
                <td>
                    <button class="button-icon">
                        <figure>
                            <img src="{% static 'assets/edit.png' %}" alt="icono">
                        </figure>
                    </button> 
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<script>
    const botonesMenu = document.querySelectorAll('.boton');
    botonesMenu.forEach(boton => {
        boton.addEventListener('click', function () {
            const menuDesplegable = boton.nextElementSibling;
            menuDesplegable.style.display = menuDesplegable.style.display === 'block' ? 'none' : 'block';}); });
</script>
<script src="{% static 'js/buscar.js' %}"></script>
{% endblock %}