{% extends 'layouts/baseAdmin.html' %}
{% load static %}
{% block content %}
<section id="clientes">
    <h3>Listado de Siniestros</h3>
</section>
<div id="general">
    <form class="filtrar" method="post">
        {% csrf_token %}
        <section>
            <h4>Filtrar siniestros</h4>
        </section>
        <div class="filtrar-items">          
                <section>
                    <label for="insurer">Aseguradora:</label>
                    <select name="insurer">
                        <option value="">Despliegue</option>
                        {% for insurer in context.insurers %}
                        <option value={{insurer.id}}>{{ insurer.nombre }}</option>
                        {% endfor %}
                    </select>
                </section>
                <section>
                    <label for="type_insurance">Tipo seguro:</label>                   
                    <select name="type_insurance">
                        <option value="">Despliegue</option>
                        {% for type_insurance in context.type_insurance %}
                        <option value={{type_insurance.id}}>{{type_insurance.nombre}}</option>
                        {% endfor %}                 
                    </select>
                </section>
                <section>
                    <label for="insurance">Seguro:</label>                   
                    <select name="insurance">
                        <option value="">Despliegue</option>
                        {% for insurance in context.insurances %}
                        <option value={{insurance.id}}>{{insurance.nombre}}</option>
                        {% endfor %}                 
                    </select>
                </section>           
                <section class="column">
                    <label for="state">Estado:</label>
                    <select class="size"  name="state" required>
                        <option value="Reportado">Reportado</option>
                        <option value="Rechazado">Rechazado</option>
                        <option value="Anulado">Anulado</option>
                    </select>
                </section>
                <section>
                    <label for="expiryDate">Fecha:</label>
                    <input class="date" name="expiryDate" type="date"></input>
                </section>
        </div>          
        <section class="buttons">
            <button type="submit"><strong>Filtrar</strong></button>
            <button id="button-color-other"><strong>Limpiar</strong></button>
        </section>   
    </form>
    <section id="buscar" class="sec-buscar">
        <section>
            <p>Siniestros:</p>
            <p id="count">número</p>
        </section>
        <section>
            <label for="buscar">Buscar:</label>
            <input name="buscar" type="text" placeholder="Nombre del cliente..."></input>
        </section>
    </section>
    <table>
        <thead class="polizas">
            <tr>
                <th>Cliente</th>
                <th>Número de póliza</th>
                <th>Número de siniestro</th>
                <th>Aseguradora</th>
                <th>Tipo de seguro</th>
                <th class="space">Seguro</th>
                <th>Fecha</th>                  
                <th>Descripción</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody class="polizas">
            <tr id="datos">
                <td>Sofía Canizales Lezama</td>
                <td>2907676</td>
                <td >29076</td>
                <td>Seguros Bolivar</td>
                <td>Seguro de vida</td>
                <td>Individual</td>
                <td>20/06/24</td>
                <td>Accidente automovil</td>
                <td>En proceso</td>
                <td>
                    <div class="boton-menu">
                        <button class="options boton">
                            <img class="icon" src="{% static 'assets/opciones2.png' %}">  
                        </button>
                        <ul class="menu-desplegable">
                            <button class="icono-options options">
                                <figure>
                                    <img src="{% static 'assets/user-edit.png' %}" alt="icono">
                                </figure>
                                <p>Editar</p>
                            </button>
                            <button class="icono-options options">
                                <figure>
                                    <img src="{% static 'assets/delete.png' %}" alt="icono">
                                </figure>
                                <p>Eliminar</p>
                            </button>
                        </ul>
                    </div>
                    <script>
                        document.querySelector('.boton-menu').addEventListener('click', function () {
                            document.querySelector('.menu-desplegable').style.display = document.querySelector('.menu-desplegable').style.display === 'block' ? 'none' : 'block';
                        });
                    </script>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<script src="{% static 'js/buscar.js' %}"></script>
{% endblock %}
