{% extends 'layouts/basePublic.html' %}
{%load static%}
{% block content %}

    <div class="hero1">
        <div class="hero1-content">
            <h1>Nosotros</h1>
        </div>
    </div>

    <!-- Sección de Misión y Visión -->
    <div class="section-container1">
        <div class="section-box1">
            <h2>Visión</h2>
            <p>Incrementar constantemente la cobertura de los productos que ofrece el mercado, proyectando así a nivel internacional como consultores de seguros y con calidad de servicio mediante una solución integral a las necesidades del cliente.</p>
        </div>
        <div class="section-box1 bordered1">
            <h2>Misión</h2>
            <p>Comercializar productos y servicios del sector asegurador con cobertura nacional, implementando asesoría comercial y directa al cliente, proporcionando así la calidad y posicionamiento en el sector, brindando al acreedor del seguro confianza y tranquilidad en su interés asegurable.</p>
        </div>
    </div>
{% endblock %}
