{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperar Contraseña</title>
    <link rel="stylesheet" href="{% static 'css/reset_password.css' %}">
    <link rel="icon" type="image/png" href="{% static 'assets/iconoLogo.png' %}" >
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        <h1>Recuperar Contraseña</h1>
        <label for="numDocument">Ingrese su número de documento:</label>
        <input type="number" name="numDocument" required>
        <button type="submit"><strong>Recuperar</strong></button>
    </form>

    {% if messages %}
      {% for message in messages %}
        <script> 
            Swal.fire({
            title:'{{ message }}',
            icon: '{{ message.tags }}',
            confirmButtonColor: '#0048B0',
        })
        </script>
        {% endfor %}
    {% endif %}
</body>
</html>