<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/obligatorios.css">
    <script src="https://kit.fontawesome.com/eb496ab1a0.js" crossorigin="anonymous"></script>
    <title>Bienvenidos</title>
</head>
<body>
    <header>
        <a href="#" class="logo-encabezado">
            <img src="../assets/beni.png" alt="Logo" width="100" height="80">
        </a>
        <input type="checkbox" id="menu-hamburguesa" class="menu-hamburguesa-checkbox">
        <label for="menu-hamburguesa" class="menu-icon">
            &#9776; <!-- Este es el símbolo del menú hamburguesa -->
        </label>
        <nav class="navbar">
            <ul>
                <li><a href="#">Productos</a>
                    <ul>
                        <li><a href="#">Seguros generales</a></li>
                        <li><a href="#">Seguros de hogar y copropiedad</a></li>
                        <li><a href="{% static 'segurosObligatorios' %}">Seguros obligatorios</a></li>
                        <li><a href="{% static 'segurosVida' %}">Seguros de vida</a></li>
                    </ul>
                </li>
                <li><a href="#">Contáctanos</a></li>
                <li><a href="#">Nosotros</a></li>
                <li><a href="#">Iniciar sesión</a></li>
            </ul>
        </nav>
    </header>
    <section class="hero5">
        <div class="hero-content5">
            <h1>Seguros obligatorios</h1>
            <p>En Enlasa, te ofrecemos seguros obligatorios para cumplir con las regulaciones gubernamentales. Con nosotros, garantizas tu cumplimiento legal y la protección de terceros de manera confiable y accesible. ¡Contáctanos hoy mismo y asegura tu tranquilidad con Enlasa!</p>
        </div>
        <div class="img5-content">
            <img src="https://img.freepik.com/foto-gratis/concepto-relacion-vista-lateral-mesa-madera-mano-que-sostiene-cubo-madera-icono-corazon_176474-9495.jpg?t=st=1730046330~exp=1730049930~hmac=06b5be2a99fd45a34225452b9f51bfde9978c1fcfae25e02eeb34443567aa5a1&w=740" alt="fondo derecha">
        </div>
    </section>

    <div class="container-bar">
        <input type="checkbox" id="btn-social">
        <label for="btn-social" class="fa fa-play"></label>
        <div class="icon-social">
            <a href="https://web.facebook.com/enlasaseguro/?_rdc=1&_rdr" class="fa fa-facebook">
                <span class="title">Facebook</span>
            </a>
            <a href="https://api.whatsapp.com/send/?phone=%2B573163210085&text&type=phone_number&app_absent=0" class="fa fa-whatsapp">
                <span class="title">WhatsApp</span>
            </a>
            <a href="https://www.instagram.com/enlasaseguros?igsh=aWZlOTRlZGtreXFx&utm_source=qr" class="fa fa-instagram">
                <span class="title">instagram</span>
            </a>
        </div>
    </div>

    <div class="container-productos">
        <div class="card-productos">
            <img src="https://img.freepik.com/foto-gratis/mujer-conduciendo-coche-bailando_1303-31678.jpg?t=st=1730038061~exp=1730041661~hmac=438a7da7ed75db3788b7aa612324caf3ac68a53de0cb673640d0d36da1410405&w=900">
            <div class="overlay">Seguros soat</div>
        </div>
        <div class="card-productos">
            <img src="https://img.freepik.com/foto-gratis/vista-frontal-personas-sonrientes-que-viajan-juntas_23-2149437533.jpg?t=st=1730038188~exp=1730041788~hmac=fa6a7f4df02c647e5d6c6a62e2d42ee2e7c7a31cfd7507e02de30527cc81c2f0&w=900">
            <div class="overlay">Seguro pasajeros</div>
        </div>
        <div class="card-productos">
            <img src="https://img.freepik.com/foto-gratis/tarjeta-explotacion-mujer-tiro-medio_23-2148989576.jpg?t=st=1730038366~exp=1730041966~hmac=e1c0bf68973f0a5a149a812f30bd5c12962299bdd3c7122e83187e949fb5b951&w=900" alt="Seguros de Automóviles y Motos">
            <div class="overlay">Seguro transporte publico</div>
        </div>
    </div>

    <footer class="footer">
        <div class="footer-content">
            <div class="footer-section">
                <img src="../assets/beni.png" alt="Logo de la empresa" class="footer-logo">
                <p class="footer-description">Protegemos lo que más valoras con seguros adaptados a tus necesidades. Confianza y experiencia a tu servicio.</p>
            </div>
            <div class="footer-section footer-links">
                <h3>Enlaces rapidos</h3>
                <ul>
                    <li><a href="#productos">Productos</a></li>
                    <li><a href="#contactanos">Contacto</a></li>
                    <li><a href="#nosotros">Nosotros</a></li>
                </ul>
            </div>
            <div class="footer-section footer-contact">
                <h3>Informacion de contacto</h3>
                <p><img src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='white'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z'/%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M15 11a3 3 0 11-6 0 3 3 0 016 0z'/%3E%3C/svg%3E" alt="Ubicación"> Ubicacion: Bogota-cerete-ibague</p>
                <p><img src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='white'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M3 5a2 2 0 012-2h3.28a1 1 0 01.948.684l1.498 4.493a1 1 0 01-.502 1.21l-2.257 1.13a11.042 11.042 0 005.516 5.516l1.13-2.257a1 1 0 011.21-.502l4.493 1.498a1 1 0 01.684.949V19a2 2 0 01-2 2h-1C9.716 21 3 14.284 3 6V5z'/%3E%3C/svg%3E" alt="Teléfono"> Tel: 316-3210-085</p>
                <p><img src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='white'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M3 5a2 2 0 012-2h3.28a1 1 0 01.948.684l1.498 4.493a1 1 0 01-.502 1.21l-2.257 1.13a11.042 11.042 0 005.516 5.516l1.13-2.257a1 1 0 011.21-.502l4.493 1.498a1 1 0 01.684.949V19a2 2 0 01-2 2h-1C9.716 21 3 14.284 3 6V5z'/%3E%3C/svg%3E" alt="Teléfono"> Tel: 321-2371-637</p>
                <p><img src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='white'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z'/%3E%3C/svg%3E" alt="Correo"> Correo: gerencia@enlasaseguros.com.co</p>
            </div>
        </div>
        <div class="footer-bottom">
            <p>Copyright © 2024- diseñado por tecnodesarrollo</p>
        </div>
    </footer>
    <script>
        const _items = document.getElementById('_items');
        const _toggle = document.getElementById('_toggle');

        _toggle.onclick = () => {
            _items.classList.toggle("open");
            _toggle.classList.toggle("close");
        };
    </script>
</body>
</html>