{% extends 'layouts/basePublic.html' %}
{%load static%}
{% block content %}
    <section class="hero3">
        <div class="hero-content3">
            <h1>Seguros Generales</h1>
            <p>Nuestro propósito es ofrecerte soluciones de protección integral para tus necesidades de seguro generales. Entendemos que la vida está llena de imprevistos y desafíos, por lo que estamos aquí para brindarte la tranquilidad y seguridad que mereces en cada etapa de tu vida.</p>
        </div>
        <div class="hero2-content">
            <img src="https://img.freepik.com/foto-gratis/vista-frontal-mujer-llenando-documentos_23-2149986638.jpg?t=st=1729520646~exp=1729524246~hmac=9be5f33e9c9baa77378021fa5a90b72aaef188491a9df6c6a1db8a6141942074&w=740" alt="fondo derecha">
        </div>
    </section>

    <div class="container-productos">
        <div class="card-productos">
            <img src="https://img.freepik.com/foto-gratis/vista-angulo-hombre-inspeccionando-lata_23-2148233420.jpg?t=st=1730079572~exp=1730083172~hmac=5d1ddd1fa17b65a5940286812d8c9874b9f46c19c26d234985b3e7de82f204e2&w=740">
            <div class="overlay">Seguros Agropecuarios</div>
        </div>
        <div class="card-productos">
            <img src="https://img.freepik.com/foto-gratis/mujeres-estan-envolviendo-manos-hombres-sentados-pacientes-sillas-ruedas-vendas_1150-4309.jpg?ga=GA1.1.1275808336.1727211925&semt=ais_hybrid">
            <div class="overlay">Seguros Accidentes Personales</div>
        </div>
        <div class="card-productos">
            <img src="https://img.freepik.com/foto-gratis/pareja-feliz-concesionario-coches_23-2148130153.jpg?t=st=1730079665~exp=1730083265~hmac=c09ffa341bb261e3af0380ee3295f0ec1d0ed9841218b98f2c7e91e11c62d026&w=740">
            <div class="overlay">Seguros Automóviles y Motos</div>
        </div>
        <div class="card-productos">
            <img src="https://img.freepik.com/foto-gratis/hombre-haciendo-su-proximo-movimiento_53876-64862.jpg?t=st=1730079714~exp=1730083314~hmac=dff4d762247c6dae352ba175ef874a72b951164e5d8312e52d8d2f997d73e6c2&w=740">
            <div class="overlay">Seguros de Disposiciones Legales</div>
        </div>
        <div class="card-productos">
            <img src="https://img.freepik.com/foto-gratis/vendedor-mujer-busca-automovil-sala-exposicion-automoviles_1303-13620.jpg?t=st=1730079773~exp=1730083373~hmac=5fd9a624243d35c204763ea779c87eeda5fb43200e80e087245cefdb796d448a&w=740">
            <div class="overlay">Seguro Manejo</div>
        </div>
        <div class="card-productos">
            <img src="https://img.freepik.com/foto-gratis/mano-sujetando-hucha-tabla-crecimiento-monedas_23-2148780588.jpg?t=st=1730079764~exp=1730083364~hmac=896c29255fbfc93dc713bcbaf7073be5bf569adf830b9b4700e18808838e8588&w=740">
            <div class="overlay">Seguros de Infidelidades y Riesgos Financieros</div>
        </div>
        <div class="card-productos">
            <img src="https://img.freepik.com/foto-gratis/hombre-negocios-primer-plano-comprobando-portapapeles_23-2148479569.jpg?t=st=1730034937~exp=1730038537~hmac=26697f200879ad4761b4f2b59e3144bf42860d8a474110b0205299dad4ac1e81&w=900">
            <div class="overlay">Seguro de Cumplimiento</div>
        </div>
        <div class="card-productos">
            <img src="https://img.freepik.com/foto-gratis/pareja-romantica-labrador-golden-retriver-sentado-bosque-otono_496169-981.jpg?t=st=1730035337~exp=1730038937~hmac=2c7c9b598d5208d6c98a96c0fba6076ffa62a47398cb8c5a2d99d43b25b31454&w=900">
            <div class="overlay">Seguro de Mascotas</div>
        </div>
        <div class="card-productos">
            <img src="https://img.freepik.com/foto-gratis/familia-feliz-tiro-medio-aeropuerto_23-2149272153.jpg?t=st=1730035711~exp=1730039311~hmac=daa7c97a0fd606dbeb6fae12c725f8404b89acc7cf07513574630ee93abef72d&w=900">
            <div class="overlay">Seguros de Viaje</div>
        </div>
        <div class="card-productos">
            <img src="https://img.freepik.com/foto-gratis/grafico-vista-frontal-hecho-monedas_23-2148793760.jpg?t=st=1730036023~exp=1730039623~hmac=fb467f41b7c53501b7cc70f4956604bb23a45949c6bdf4cda070d11f997f9947&w=740">
            <div class="overlay">Seguros para Empresas</div>
        </div>
    </div>
{% endblock %}