{% extends 'layouts/basePublic.html' %}
{%load static%}
{% block content %} 
    <section class="hero4">
        <div class="hero-content4">
            <h1>Seguros de hogar y copropiedad</h1>
            <p>En Enlasa Seguros, comprendemos la importancia de proteger tu hogar, tu refugio y el corazón de tu familia. Como parte de nuestro compromiso contigo, queremos resaltar la relevancia de contar con un seguro de hogar adecuado para salvaguardar tus bienes y tu tranquilidad.
            El seguro de hogar es una herramienta fundamental para proteger tu vivienda y tus pertenencias contra una variedad de riesgos, como incendios, robos, inundaciones y daños accidentales.</p>
        </div>

        <div class="hero2-content">
            <img src="https://img.freepik.com/foto-gratis/hombre-cultivos-casa-papel-azul_23-2147694198.jpg?t=st=1730081499~exp=1730085099~hmac=ed343af892f9d55f38b1c61cff42afa8f9119e95bf6bb38c1777d745ffe7ed74&w=740" alt="fondo derecha">
        </div>
    </section>

    <div class="container-productos">
        <div class="card-productos">
            <img src="https://img.freepik.com/foto-gratis/co-trabajando-personas-trabajando-juntas_23-2149328320.jpg?t=st=1730036579~exp=1730040179~hmac=4d44e10c1732539a6a4325c1c24e8c345a8d2c00f36398a1b8a9881bdb49522e&w=900">
            <div class="overlay">Seguros hogar colectivo</div>
        </div>
        <div class="card-productos">
            <img src="https://img.freepik.com/foto-gratis/agente-inmobiliario-masculino-dando-llaves-casa-nueva-compradora_23-2150164694.jpg?t=st=1730037074~exp=1730040674~hmac=ce04d096b5efefe0dfd4bf7c3078d3d830a9aa9843a99de0e016244a3d639a5b&w=900">
            <div class="overlay">Seguros de arrendamiento individual y colectivo</div>
        </div>
        <div class="card-productos">
            <img src="https://img.freepik.com/foto-gratis/familia-moviendose-usando-cajas_1157-35481.jpg?t=st=1730037275~exp=1730040875~hmac=6b6b12afdf43d3c3673b72cb9971544140195fd768ec32193f3bb44e9c262e7c&w=900">
            <div class="overlay">Hogar individual</div>
        </div>
    </div>
{% endblock %}