{% extends 'layouts/basePublic.html' %}
{% block content %}
    <section class="hero6">
        <div class="hero-content6">
            <h1>Seguros de vida</h1>
            <p>En Enlasa, ofrecemos seguros de vida para proteger a tus seres queridos en caso de lo inesperado. Con opciones flexibles y cobertura confiable, garantizamos tu tranquilidad y su seguridad financiera. Contáctanos ahora para obtener más información.</p>
        </div>
        <div class="img6-content">
            <img src="https://media.istockphoto.com/id/1446894050/es/foto/feliz-gran-familia-y-tiempo-de-calidad-uni%C3%B3n-de-ni%C3%B1os-padres-y-abuelos-juntos-en-un-sof%C3%A1-ni%C3%B1os.jpg?s=612x612&w=0&k=20&c=lzE9K4CYZ7tJMwa8eFJqHZQ9550RgrYz0HeHRfkXAQg=">
        </div>
    </section>
    <div class="container-productos">
        <div class="card-productos">
            <img src="https://img.freepik.com/foto-gratis/familia-joven-sus-hijos-casa-divirtiendose_1303-20999.jpg?t=st=1730038717~exp=1730042317~hmac=0183985210168726346908c83a85f67c11716297d2398352bd7664e4fe670e0d&w=900">
            <div class="overlay">Seguro de vida individual</div>
        </div>
        <div class="card-productos">
            <img src="https://img.freepik.com/foto-gratis/hombre-vista-lateral-que-trabaja-como-agente-bienes-raices_23-2151065015.jpg?t=st=1730039421~exp=1730043021~hmac=ff876bc0ee993c95348d2daae511594c5c7e6c43cad99ce3edc81ca843af1e82&w=900">
            <div class="overlay">Seguro de renta</div>
        </div>
        <div class="card-productos">
            <img src="https://img.freepik.com/foto-gratis/todos-estudiantes-leccion_329181-14230.jpg?t=st=1730038970~exp=1730042570~hmac=2880ca528b023e084334521e99b41734552c46213323ee044f6d6dc698340eb7&w=900">
            <div class="overlay">Seguro educativo</div>
        </div>
        <div class="card-productos">
            <img src="https://img.freepik.com/foto-gratis/concepto-control-calidad-estandar-m_23-2150041841.jpg?t=st=1730039227~exp=1730042827~hmac=f22296b8ba65b7ef5e633376b4db61087bf55f8e5e8fee22b9a81e2bdbabf7e6&w=900">
            <div class="overlay">Seguro todo riesgo</div>
        </div>
        <div class="card-productos">
            <img src="https://img.freepik.com/foto-gratis/cerrar-gente-feliz-posando-juntos_23-2149008997.jpg?t=st=1730039356~exp=1730042956~hmac=940f799fe8e877beaceb83704478955f2167e7dbcf9bc3dfbe7a333742ffc810&w=900">
            <div class="overlay">Seguro de vida de grupo</div>
        </div>
    </div>
{% endblock %}