{% extends 'layouts/basePublic.html' %}
{% block content %}
    <section class="hero5">
        <div class="hero-content5">
            <h1>Seguros obligatorios</h1>
            <p>En Enlasa, te ofrecemos seguros obligatorios para cumplir con las regulaciones gubernamentales. Con nosotros, garantizas tu cumplimiento legal y la protección de terceros de manera confiable y accesible. ¡Contáctanos hoy mismo y asegura tu tranquilidad con Enlasa!</p>
        </div>
        <div class="img5-content">
            <img src="https://img.freepik.com/foto-gratis/concepto-relacion-vista-lateral-mesa-madera-mano-que-sostiene-cubo-madera-icono-corazon_176474-9495.jpg?t=st=1730046330~exp=1730049930~hmac=06b5be2a99fd45a34225452b9f51bfde9978c1fcfae25e02eeb34443567aa5a1&w=740" alt="fondo derecha">
        </div>
    </section>
    <div class="container-productos">
        <div class="card-productos">
            <img src="https://img.freepik.com/foto-gratis/mujer-conduciendo-coche-bailando_1303-31678.jpg?t=st=1730038061~exp=1730041661~hmac=438a7da7ed75db3788b7aa612324caf3ac68a53de0cb673640d0d36da1410405&w=900">
            <div class="overlay">Seguros soat</div>
        </div>
        <div class="card-productos">
            <img src="https://img.freepik.com/foto-gratis/vista-frontal-personas-sonrientes-que-viajan-juntas_23-2149437533.jpg?t=st=1730038188~exp=1730041788~hmac=fa6a7f4df02c647e5d6c6a62e2d42ee2e7c7a31cfd7507e02de30527cc81c2f0&w=900">
            <div class="overlay">Seguro pasajeros</div>
        </div>
        <div class="card-productos">
            <img src="https://img.freepik.com/foto-gratis/tarjeta-explotacion-mujer-tiro-medio_23-2148989576.jpg?t=st=1730038366~exp=1730041966~hmac=e1c0bf68973f0a5a149a812f30bd5c12962299bdd3c7122e83187e949fb5b951&w=900" alt="Seguros de Automóviles y Motos">
            <div class="overlay">Seguro transporte publico</div>
        </div>
    </div>
{% endblock %}