{% extends 'layouts/baseCliente.html' %}
{% block content %}
<section>
    <h3 class="h3-forms">Mi perfil</h3>
</section>
<div class="perfil-informacion">
    <div class="perfil-datos">
      <p><strong>Nombre:</strong> Juan Pérez</p>
      <p><strong>Tipo de documento:</strong> CC</p>
      <p><strong>Documento:</strong> 1106773193</p>
      <p><strong>Celular:</strong> 1106773193</p>
      <p><strong>Teléfono fijo:</strong> 1106773193</p>
      <p><strong>Correo electrónico:</strong> juanperez@example.com</p>
      <p><strong>Ciudad:</strong> Ibagué</p>
      <p><strong>Dirección:</strong> Comfenalco-Manzana 36- Casa 8</p>
    </div>
    <section class="contentButton">
       <button id="botton-form"><strong>Cambiar contraseña</strong></button>
       <button id="botton-form"><strong>Editar perfil</strong></button>
    </section>
</div>  
{% endblock %}