{% extends 'layouts/baseCliente.html' %}
{% block content %}
<section>
    <h3 class="h3-forms">Cambiar contraseña</h3>
</section>
    <form id="formGlobal" method="post">
        {% csrf_token %}
        <section class="column">
            <label for="name">Contraseña antigua:</label>
            <input name="oldPassword" type="text"></input>
        </section>
        <section class="column">
            <label for="password">Nueva contraseña:</label>
            <input minlength="8" maxlength="8" name="newPassword" type="password" id="passwordInput" placeholder="Escriba aquí" required></input> 
        </section>
        <section class="show_password">           
            <input type="checkbox" id="verContraseña">
            <label for="verContraseña">Ver contraseña</label>
        </section>
        <section class="contentButton">
            {% url 'cliente_mi_perfil' as url_profile %} 
            <button id="botton-form" type="button" onclick="window.location.href='{{url_profile}}'"><strong>Cancelar</strong></button>
            <button id="botton-form" type="submit"><strong>Cambiar contraseña</strong></button>
        </section>
    </form>
    {% if messages %}
      {% for message in messages %}
        <script> 
            Swal.fire({
            title:'{{ message }}',
            icon: '{{ message.tags }}',
            confirmButtonColor: '#0048B0',
        })
        </script>
        {% endfor %}
    {% endif %}
    <script>
        document.getElementById('verContraseña').addEventListener('change', function() {
        var passwordInput = document.getElementById('passwordInput');
        if (this.checked) {
          passwordInput.type = 'text'; }
        else {passwordInput.type = 'password'; }});
    </script>
{% endblock %}







