{% extends 'layouts/baseCliente.html' %}
{% block content %}
<section>
    <h3 class="h3-forms">Mi perfil</h3>
</section>
<div class="perfil-informacion">
    <div class="perfil-datos">
      <p><strong>Nombre:</strong> {{ cliente.nombre }}</p>
      <p><strong>Tipo de documento:</strong> {{ cliente.tipo_documento }}</p>
      <p><strong>Documento:</strong> {{ cliente.num_documento }}</p>
      <p><strong>Celular:</strong> {{ cliente.celular }}</p>
      {% if cliente.telefono != '' %}
      <p><strong>Teléfono fijo:</strong> {{ cliente.telefono }}</p>
      {% else %}
      <p><strong>Teléfono fijo:</strong> No aplica </p>
      {% endif %}
      <p><strong>Correo electrónico:</strong> {{ cliente.email }}</p>
      <p><strong>Ciudad:</strong> {{ cliente.ciudad }}</p>
      <p><strong>Dirección:</strong> {{ cliente.direccion }}</p>
    </div>
    <section class="contentButton">
      {% url 'change_password_client' user.num_documento as url_password %} 
       <button id="botton-form" onclick="window.location.href='{{url_password}}'"><strong>Cambiar contraseña</strong></button>
       {% url 'edit_my_profile' user.num_documento as url_edit %} 
      <button id="botton-form" onclick="window.location.href='{{url_edit}}'"><strong>Editar perfil</strong></button>
    </section>
    </section>
</div>  
{% endblock %}