{% extends 'layouts/baseCliente.html' %}
{% load static %}
{% block content %}
<section id="clientes">
    <h3>Mis pólizas</h3>
</section>
<div id="general">
    <form class="filtrar" method="post">
        {% csrf_token %}
        <section>
            <h4>Filtrar pólizas</h4>
        </section>
        <div class="filtrar-items">
                <section>
                    <label for="insurer">Aseguradora:</label>
                    <select name="insurer">
                        <option value="">Despliegue</option>
                        {% for insurer in context.insurers %}
                        <option value={{insurer.id}}>{{ insurer.nombre }}</option>
                        {% endfor %}
                    </select>
                </section>
                <section>
                    <label for="type_insurance">Tipo seguro:</label>                   
                    <select name="type_insurance">
                        <option value="">Despliegue</option>
                        {% for type_insurance in context.type_insurance %}
                        <option value={{type_insurance.id}}>{{type_insurance.nombre}}</option>
                        {% endfor %}                 
                    </select>
                </section>
                <section>
                    <label for="insurance">Seguro:</label>                   
                    <select name="insurance">
                        <option value="">Despliegue</option>
                        {% for insurance in context.insurances %}
                        <option value={{insurance.id}}>{{insurance.nombre}}</option>
                        {% endfor %}                 
                    </select>
                </section> 
                <section>
                    <label for="startDate">Fecha de inicio:</label>
                    <input class="date" name="startDate" type="date"></input>
                </section>
                <section>
                    <label for="expiryDate">Fecha de vencimiento:</label>
                    <input class="date" name="expiryDate" type="date"></input>
                </section> 
                <section>
                    <label for="state">Estado:</label>
                     <select name="state">
                        <option value="">Despliegue</option>
                        <option value="True">Activo</option>
                        <option value="False">Inactivo</option>
                    </select>
                </section> 
        </div>
        <div class="butons">
            <button type="submit"><strong>Filtrar</strong></button>
            <button id="button-color-other"><strong>Limpiar</strong></button>
        </div>   
    </form>
    <section id="buscar" class="sec-buscar">
        <section>
            <p>Pólizas:</p>
            <p id="count">{{ context.policys.count }}</p>
        </section>
        <section>
            <label for="buscar">Buscar:</label>
            <input name="buscar" type="text" placeholder="Ingrese el número..."></input>
        </section>
    </section>
    <table>
        <thead class="polizas">
            <tr>
                <th>Número</th>
                <th>Aseguradora</th>
                <th>Tipo de seguro</th>
                <th class="space">Seguro</th>
                <th>Fecha de inicio</th>
                <th>Fecha de vencimiento</th>
                <th>Prima</th>
                <th>Valor prima</th>
                <th>Medio de pago</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody class="polizas">
            {% for policy in context.policys %}
            <tr id="datos">
                <td class="space">{{ policy.id }}</td>
                <td>{{ policy.aseguradora_id.nombre }}</td>
                <td>{{ policy.seguro_id.tipo_seguro_id.nombre }}</td>
                <td>{{ policy.seguro_id.nombre }}</td>
                <td>{{ policy.fecha_inicio }}</td>
                <td>{{ policy.fecha_vencimiento }}</td>
                <td>{{ policy.prima }}</td>
                <td>{{ policy.valor }}</td>
                <td>{{ policy.medio_pago }}</td>
                {% if policy.estado == True %}
                <td>Activa</td>
                {% else %}
                <td>Inactiva</td>
                {% endif %}
                <td>
                    <button class="options boton" id="show-beneficiarios">
                        <figure>
                            <img src="{% static 'assets/groups.png' %}" alt="icono">
                        </figure>
                    </button>  
                    <script>
                        document.getElementById("show-beneficiarios").onclick = function() {
                            location.href = "{% url 'cliente_mis_beneficiarios' %}";
                        };
                    </script>    
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<script src="{% static 'js/buscar.js' %}"></script>
{% endblock %}