{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="{% static 'assets/iconoLogo.png' %}" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/public.css' %}">
    <link rel="stylesheet" href="{% static 'css/cuerpoP.css' %}">
    <link rel="stylesheet" href="{% static 'css/obligatorios.css' %}">
    <link rel="stylesheet" href="{% static 'public/segurosVida.html' %}">
    <link rel="stylesheet" href="{% static 'contactanos.css' %}">
    <script src="https://kit.fontawesome.com/eb496ab1a0.js" crossorigin="anonymous"></script>
    <title>Enlasa</title>
</head>
<body>
    <header>
        <a href="#" class="logo-encabezado">
            <img src="{% static 'assets/beni.png' %}" alt="Logo" width="100" height="80">
        </a>
        <input type="checkbox" id="menu-hamburguesa" class="menu-hamburguesa-checkbox">
        <label for="menu-hamburguesa" class="menu-icon">
            &#9776; <!-- Este es el símbolo del menú hamburguesa -->
        </label>
        <nav class="navbar">
            <ul>
                <li><a href="#">Productos</a>
                    <ul>
                        <li><a href="">Seguros generales</a></li>
                        <li><a href="">Seguros de hogar y copropiedad</a></li>
                        <li><a href="">Seguros obligatorios</a></li>
                        <li><a href="{% static 'segurosVida' %}">Seguros de vida</a></li>
                    </ul>
                </li>
                <li><a href="#">Contáctanos</a></li>
                <li><a href="#">Nosotros</a></li>
                <li><a href="{% url 'login' %}">Iniciar sesión</a></li>
            </ul>
        </nav>
    </header> <div class="hero">
        <div class="hero-content">
            <h1>Bienvenidos </h1>
            <p>Su tranquilidad y protección son nuestra prioridad.</p>
        </div>
    </div>


    <div class="container-bar2">
        <input type="checkbox" id="btn-social">
        <label for="btn-social" class="fa fa-play"></label>
        <div class="icon-social">
            <a href="https://web.facebook.com/enlasaseguro/?_rdc=1&_rdr" class="fa fa-facebook">
                <span class="title">Facebook</span>
            </a>
            <a href="https://api.whatsapp.com/send/?phone=%2B573163210085&text&type=phone_number&app_absent=0" class="fa fa-whatsapp">
                <span class="title">WhatsApp</span>
            </a>
            <a href="https://www.instagram.com/enlasaseguros?igsh=aWZlOTRlZGtreXFx&utm_source=qr" class="fa fa-instagram">
                <span class="title">instagram</span>
            </a>
        </div>
    </div>
    <div class="container">
        <div class="hero-section">
            <h1>Planifica tu futuro y vive tu vida ahora</h1>
            <p class="description">Consectetur adipiscing elit amet non suspendisse molestie dolore eget blandit sed. Fusce velit porttitor etiam me in lectus pulvinar egestas sem volutpat est.</p>
        </div>
        
        <div class="cards">
            <div class="card">
                <div class="card-image" style="background-image: url('https://img.freepik.com/foto-gratis/hija-feliz-divirtiendose-sus-padres-mientras-muda-apartamento-nuevo_637285-12378.jpg');">
                    <div class="card-title">Seguros generales</div>
                </div>
                <div class="card-content">
                    <h3>Seguros generales</h3>
                    <p>Protege a tus seres queridos y asegura su futuro financiero.</p>
                    <a href="{% static 'generales.html' %}" class="card-link">Más información</a>
                </div>
            </div>
            
            <div class="card">
                <div class="card-image" style="background-image: url('https://img.freepik.com/foto-gratis/concepto-proteccion-antivirus-familiar_493343-30185.jpg');">
                    <div class="card-title">Seguros de Hogar</div>
                </div>
                <div class="card-content">
                    <h3>Seguros de Hogar</h3>
                    <p>Protege tu hogar contra daños y robos inesperados.</p>
                    <a href="{% static 'hogar.html' %}" class="card-link">Más información</a>
                </div>
            </div>
            
            <div class="card">
                <div class="card-image" style="background-image: url('https://img.freepik.com/foto-gratis/mujer-feliz-mirando-ventana-mostrando-llaves-coche-nuevo-compro-nuevo-automovil_197531-22648.jpg');">
                    <div class="card-title">Seguros obligatorios</div>
                </div>
                <div class="card-content">
                    <h3>Seguros obligatorios</h3>
                    <p>Protege tu seguirdad y el bienestar de los demas.</p>
                    <a href="{% static 'obligatorios.html' %}" class="card-link">Más información</a>
                </div>
            </div>
        </div>
    </div>
    <div class="contenedor-principal">
        <div class="contenedor-imagen">
            <img src="https://img.freepik.com/foto-gratis/arreglo-plano-lindo-concepto-familia_23-2148485829.jpg" alt="Manos sosteniendo figuras de papel representando una familia" class="imagen-personalizada">
        </div>
        <div class="contenedor-texto">
            <span class="etiqueta-destacada">La vida es bella</span>
            <h1 class="titulo-personalizado">Asegurate con Enlasa</h1>
            <p class="texto-personalizado">Protege lo que más amas con nuestra amplia gama de seguros personalizados. En Enlasa, te ofrecemos tranquilidad y seguridad, adaptándonos a tus necesidades. Confía en nosotros para cuidar de tu futuro y el de tu familia, porque cada momento cuenta.</p>
        </div>
    </div>
    <main>
        {% block content %}

        {% endblock %}
    </main> 
    <footer class="footer">
        <div class="footer-content">
            <div class="footer-section">
                <img src="{% static 'assets/beni.png' %}" alt="Logo de la empresa" class="footer-logo">
                <p class="footer-description">Protegemos lo que más valoras con seguros adaptados a tus necesidades. Confianza y experiencia a tu servicio.</p>
            </div>
            <div class="footer-section footer-links">
                <h3>Enlaces rapidos</h3>
                <ul>
                    <li><a href="#productos">Productos</a></li>
                    <li><a href="#contactanos">Contacto</a></li>
                    <li><a href="#nosotros">Nosotros</a></li>
                </ul>
            </div>
            <div class="footer-section footer-contact">
                <h3>Informacion de contacto</h3>
                <p><img src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='white'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z'/%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M15 11a3 3 0 11-6 0 3 3 0 016 0z'/%3E%3C/svg%3E" alt="Ubicación"> Ubicacion: Bogota-cerete-ibague</p>
                <p><img src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='white'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M3 5a2 2 0 012-2h3.28a1 1 0 01.948.684l1.498 4.493a1 1 0 01-.502 1.21l-2.257 1.13a11.042 11.042 0 005.516 5.516l1.13-2.257a1 1 0 011.21-.502l4.493 1.498a1 1 0 01.684.949V19a2 2 0 01-2 2h-1C9.716 21 3 14.284 3 6V5z'/%3E%3C/svg%3E" alt="Teléfono"> Tel: 316-3210-085</p>
                <p><img src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='white'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M3 5a2 2 0 012-2h3.28a1 1 0 01.948.684l1.498 4.493a1 1 0 01-.502 1.21l-2.257 1.13a11.042 11.042 0 005.516 5.516l1.13-2.257a1 1 0 011.21-.502l4.493 1.498a1 1 0 01.684.949V19a2 2 0 01-2 2h-1C9.716 21 3 14.284 3 6V5z'/%3E%3C/svg%3E" alt="Teléfono"> Tel: 321-2371-637</p>
                <p><img src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='white'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z'/%3E%3C/svg%3E" alt="Correo"> Correo: gerencia@enlasaseguros.com.co</p>
            </div>
        </div>
        <div class="footer-bottom">
            <p>Copyright © 2024- diseñado por tecnodesarrollo</p>
        </div>
    </footer> 
    <script>
        const _items = document.getElementById('_items');
        const _toggle = document.getElementById('_toggle');

        _toggle.onclick = () => {
            _items.classList.toggle("open");
            _toggle.classList.toggle("close");
        };
    </script>
</body>
</html>
