{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/principal.css' %}">
    <link rel="stylesheet" href="{% static 'css/tables.css' %}">
    <link rel="stylesheet" href="{% static 'css/verPerfil.css' %}">
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@400..800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <title>Administrador</title>
    <link rel="icon" type="image/png" href="{% static 'assets/icon.png' %}" >
</head>
<body>
    <header>
        <section>
            <button id="boton-nav">     
                <img src= "{% static 'assets/menu.png' %}" alt="logo">        
            </button>
            <figure>
                <img src="{% static 'assets/iconoLogo.png' %}" alt="logo">
            </figure>
            <h1>Enlasa</h1>
        </section>
        <button id="miBoton" class="icono1">               
            <img src="{% static 'assets/icono1.png' %}"  alt="icono">  
            <span><strong>{{ user.nombre }}</strong></span>
        </button>
        <script>
             document.getElementById("miBoton").onclick = function() {
                location.href = "{% url 'admin_profile' %}"
             };
        </script>      
    </header>

    <div class="lyout">
        <nav id="nav" class="cerrado">
            <section class="rol">
                <h3>Bienvenido(a)</h3>
                <p>Administrador</p>
            </section>
            <section class="confi">
                <p class="p" >Configuración</p>
                <button class="icono2" id="boton-logout">                
                    <figure>
                        <img src="{% static 'assets/out.png' %}"  alt="icono">
                    </figure>               
                    <p>Salir</p>
                    <script>
                        document.getElementById("boton-logout").onclick = function() {
                           location.href = "{% url 'exit' %}"
                        };
                   </script>
                </button>        
            </section>
            <ul class="list">
                <p>Modulos</p>
                <li class="list_item list_item--click">
                    <div class="list_button list_button--click">
                        <img src="{% static 'assets/people.png' %}"   class="list_img">
                        <a href="#" class="nav_link">Clientes</a>
                        <img src="{% static 'assets/arrow.png' %}"   class="list_arrow">
                    </div>
                    <ul class="list_show">
                        <li class="list_inside">
                            <a href="{% url 'add_client' %}" class="nav_link nav_link--inside">Agregar cliente</a>
                        </li>           
                        <li class="list_inside">
                            <a href="{% url 'show_clients' %}" class="nav_link nav_link--inside">Ver clientes</a>
                        </li>
                        <li class="list_inside">
                            <a href="{% url 'show_policys' %}"  class="nav_link nav_link--inside">Ver pólizas</a>
                        </li>
                        <li class="list_inside">
                            <a href="{% url 'show_claims' %}"  class="nav_link nav_link--inside">Ver siniestros</a>
                        </li>
                    </ul>        
                </li>
                <li class="list_item list_item--click">
                    <div class="list_button list_button--click">
                        <img src="{% static 'assets/insuHome.png' %}"  class="list_img">
                        <a href="#" class="nav_link">Aseguradoras</a>
                        <img src="{% static 'assets/arrow.png' %}"   class="list_arrow">
                    </div>
                    <ul class="list_show">
                        <li class="list_inside">
                            <a href="{% url 'add_insurer' %}" class="nav_link nav_link--inside">Agregar aseguradora</a>
                        </li>
                        <li class="list_inside">
                            <a href="{% url 'show_insurers' %}" class="nav_link nav_link--inside">Ver aseguradoras</a>
                        </li>
                    </ul>        
                </li>
                <li class="list_item list_item--click">
                    <div class="list_button list_button--click">
                        <img src="{% static 'assets/insurance.png' %}"  class="list_img">
                        <a href="#" class="nav_link">Portafolio</a>
                        <img src="{% static 'assets/arrow.png' %}"   class="list_arrow">
                    </div>
                    <ul class="list_show">
                        <li class="list_inside">
                            <a href="{% url 'add_type_insurance' %}" class="nav_link nav_link--inside">Agregar tipo seguro</a>
                        </li>
                        <li class="list_inside">
                            <a href="{% url 'add_insurance' %}"  class="nav_link nav_link--inside">Agregar seguro</a>
                        </li>
                        <li class="list_inside">
                            <a href="{% url 'show_types_insurances' %}" class="nav_link nav_link--inside">Tipos seguros</a>
                        </li>
                        <li class="list_inside">
                            <a href="{% url 'show_insurances' %}" class="nav_link nav_link--inside">Seguros</a>
                        </li>
                    </ul>        
                </li>
               </ul>
               <script src="{% static 'js/navRoles.js' %}"></script>          
        </nav>
        <script>
            const botonNav = document.getElementById('boton-nav');
            const nav = document.getElementById('nav');
            botonNav.addEventListener('click',()=>{
                nav.classList.toggle('abierto');
                nav.classList.toggle('cerrado');
            })
        </script>
        <main>
            {% block content %}

            {% endblock %}
        </main>
    </div>   
</body>
</html>