{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="{% static 'css/principal.css' %}">
    <link rel="stylesheet" href="{% static 'css/tables.css' %}">
    <link rel="stylesheet" href="{% static 'css/verPerfil.css' %}">
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
    <link rel="stylesheet" href="{% static 'css/estadisticas.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@400..800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <title>Gerente</title>
    <link rel="icon" type="image/png" href="{% static 'assets/icono1.png' %}" >
</head>
<body>
    <header>
        <section>
            <button id="boton-nav">     
                <img src= "{% static 'assets/menu.png' %}" alt="logo">        
            </button>
            <figure>
                <img src="{% static 'assets/iconoLogo.png' %}" alt="logo">
            </figure>
            <h1>Enlasa</h1>
        </section>
        <button id="miBoton" class="icono1">               
            <img src="{% static 'assets/icono1.png' %}"  alt="icono">  
            <span><strong>Camilo Andres</strong></span>
        </button>
        <script>
             document.getElementById("miBoton").onclick = function() {
                location.href = "{% url 'gerente_perfil' %}"
             };
        </script>        
    </header>
    <div class="lyout">
        <nav id="nav" class="cerrado">
            <section class="rol">
                <h3>Bienvenido(a)</h3>
                <p>Gerente</p>
            </section>
            <section class="confi">
                <p class="p" >Configuración</p>               
                <button class="icono2" id="boton-logout">                
                    <figure>
                        <img src="{% static 'assets/out.png' %}"  alt="icono">
                    </figure>               
                    <p>Salir</p>
                    <script>
                        document.getElementById("boton-logout").onclick = function() {
                           location.href = "{% url 'exit' %}"
                        };
                   </script>
                </button>           
            </section>
            <ul class="list">
                <p>Modulos</p>
                <li class="list_item list_item--click">
                    <div class="list_button list_button--click">
                        <img src="{% static 'assets/people.png' %}"  class="list_img">
                        <a href="#" class="nav_link">Administradores</a>
                        <img src="{% static 'assets/arrow.png' %}"  class="list_arrow">
                    </div>
                    <ul class="list_show">
                        <li class="list_inside">
                            <a href="{% url 'gerente_administradores_agregar' %}" class="nav_link nav_link--inside">Agregar administrador</a>
                        </li>
                        <li class="list_inside">
                            <a href="{% url 'gerente_administradores_list' %}" class="nav_link nav_link--inside">Ver administradores</a>
                        </li>                       
                    </ul>        
                </li>            
                <li class="list_item list_item--click">
                    <div class="list_button list_button--click">
                        <img src="{% static 'assets/estadisticas.png' %}" class="list_img">
                        <a href="#" class="nav_link">Estadísticas</a>
                        <img src="{% static 'assets/arrow.png' %}"  class="list_arrow">
                    </div>
                    <ul class="list_show">
                        <li class="list_inside">
                            <a href="{% url 'gerente_estadisticas_generales' %}" class="nav_link nav_link--inside">Generales</a>
                        </li>
                        <li class="list_inside">
                            <a href="{% url 'gerente_estadisticas_aseguradora' %}" class="nav_link nav_link--inside">Pólizas por aseguradora</a>
                        </li>                 
                    </ul>        
                </li>
               </ul>
               <script src="{% static 'js/navRoles.js' %}"></script>          
        </nav>
        <script>
            const botonNav = document.getElementById('boton-nav');
            const nav = document.getElementById('nav');
            botonNav.addEventListener('click',()=>{
                nav.classList.toggle('abierto');
                nav.classList.toggle('cerrado');
            })
        </script>
        <main>
            {% block content %}

            {% endblock %}
        </main>
    </div>   
</body>
</html>