{% extends 'layouts/baseGerente.html' %}
{% block content %}
<section>
    <h3 class="h3-forms">Cambiar contraseña</h3>
</section>
    <form id="formGlobal" method="post">
        {% csrf_token %}
        <p style="color:red; margin: 0;">Recuerda la contraseña debe contener: 3 mayúsculas, 3 minúsculas y 2 numeros.</p>
        <section class="column">
            <label for="name">Contraseña antigua:</label>
            <input name="oldPassword" type="text"></input>
        </section>
        <section class="column">
            <label for="password">Nueva contraseña:</label>
            <input minlength="8" maxlength="8" name="newPassword" type="password" id="passwordInput" placeholder="Escriba aquí" required></input> 
        </section>
        <section class="show_password">           
            <input type="checkbox" id="verContraseña">
            <label for="verContraseña">Ver contraseña</label>
        </section>
        <section class="contentButton">
            {% url 'gerente_perfil' as url_profile %} 
            <button id="botton-form" type="button" onclick="window.location.href='{{url_profile}}'"><strong>Cancelar</strong></button>
            <button id="botton-form" type="submit"><strong>Cambiar contraseña</strong></button>
        </section>
    </form>
    {% if context.modal %}
    <div id="modal" class="modal">
        <p>{{ context.message }}</p>
        {% url 'login' as login %}
        {% url 'change_password_manager' user.num_documento as url %} 
        <button onclick="window.location.href='{% if context.changed %}{{login}}{% else %}{{url}}{% endif %}'" class="boton options" id="cerrar-modal2"><strong>OK</strong></button>                           
    </div>
    {% endif %} 
    <script>
        document.getElementById('verContraseña').addEventListener('change', function() {
        var passwordInput = document.getElementById('passwordInput');
        if (this.checked) {
          passwordInput.type = 'text'; }
        else {passwordInput.type = 'password'; }});
    </script>
{% endblock %}







