{% extends 'layouts/baseGerente.html' %}
{% load static %}
{% block content %}
<section id="clientes">
    <h3>Listado de Administradores</h3>
</section>
<div id="general">
    <section id="buscar" class="sec-buscar">
        <label for="buscar">Buscar:</label>
        <input name="buscar" type="text"></input>
    </section>
    <table>
        <thead class="polizas">
            <tr>
                <th>Nombre</th>
                <th>Tipo de documento</th>
                <th>Documento</th>
                <th>Correo</th>
                <th>Contraseña</th>
            </tr>
        </thead>
        <tbody class="polizas">
            <tr id="datos">
                <td>Sofía Canizales Lezama</td>
                <td>CC</td>
                <td>1106773193</td>
                <td>clsofi64@gmail.com</td>
                <td>*********</td>
                <td>
                    <div class="boton-menu">
                        <button class="boton" class="options"><strong>Opciones</strong><i class="flecha"></i></button>
                        <ul class="menu-desplegable">
                            <button class="icono-options options">
                                <figure>
                                    <img src="{% static 'assets/user-edit.png' %}" alt="icono">
                                </figure>
                                <p>Editar</p>
                            </button>                          
                            <button class="icono-options options">
                                <figure>
                                    <img src="{% static 'assets/delete.png' %}" alt="icono">
                                </figure>
                                <p>Eliminar</p>
                            </button>
                        </ul>
                    </div>
                    <script>
                        document.querySelector('.boton-menu').addEventListener('click', function () {
                            document.querySelector('.menu-desplegable').style.display = document.querySelector('.menu-desplegable').style.display === 'block' ? 'none' : 'block';
                        });
                    </script>
                </td>
            </tr>
        </tbody>
    </table>
</div>

{% endblock %}