{% extends 'layouts/baseGerente.html' %}
{% block content %}
<div id="estadisticas">
    <article>
        <section>
            <h4>Pólizas por aseguradora</h4> 
            <br>
            <canvas id="diagrama-aseguradoras" class="chartjs-no-styling"></canvas>
        </section>
    </article>
</div>
<script>
const ctx = document.getElementById('diagrama-aseguradoras').getContext('2d');
const chart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ['{{names_insurers.0}}', '{{names_insurers.1}}','{{names_insurers.2}}','{{names_insurers.3}}','{{names_insurers.4}}','{{names_insurers.5}}', 'Otros'],
        datasets: [{
            label: 'Pólizas por aseguradora',
            data: ['{{data.0}}', '{{data.1}}', '{{data.2}}','{{data.3}}','{{data.4}}','{{data.5}}', '{{data_others}}'], // Datos de ejemplo
            backgroundColor: [
                'rgba(0, 255, 0, 0.2)', // Verde para activas
                'rgba(255, 165, 0, 0.2)', // Naranja para vencidas
                'rgba(255, 0, 0, 0.2)'   // Rojo para inactivas
            ],
            borderColor: [
                'rgba(0, 255, 0, 1)',
                'rgba(255, 165, 0, 1)',
                'rgba(255, 0, 0, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        },
        plugins: {
            legend: {
                display: true,
                position: 'bottom'
            }
        }
    }
});
</script>
{% endblock %}