{% extends 'layouts/baseGerente.html' %}
{% block content %}
<div id="estadisticas">
    <article>
        <section>
            <h4>Pólizas por aseguradora</h4> 
            <canvas id="diagrama-aseguradoras" class="chartjs-no-styling"></canvas>
        </section>
    </article>
</div>
<script>
const ctx = document.getElementById('diagrama-aseguradoras').getContext('2d');
const chart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ['Compensar', 'Seguros Bolivar', 'Seguros x', 'Seguros x2', 'Seguros x3'],
        datasets: [{
            label: 'Pólizas por aseguradora',
            data: [29, 55, 20,2, 5], // Datos de ejemplo
            backgroundColor: [
                'rgba(0, 255, 0, 0.2)', // Verde para activas
                'rgba(255, 165, 0, 0.2)', // Naranja para vencidas
                'rgba(255, 0, 0, 0.2)'   // Rojo para inactivas
            ],
            borderColor: [
                'rgba(0, 255, 0, 1)',
                'rgba(255, 165, 0, 1)',
                'rgba(255, 0, 0, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        },
        plugins: {
            legend: {
                display: true,
                position: 'bottom'
            }
        }
    }
});
</script>
{% endblock %}