{% extends 'layouts/baseGerente.html' %}
{% block content %}
<section>
    <h3 class="h3-forms">Mi perfil</h3>
</section>
<div class="perfil-informacion">
    <div class="perfil-datos">
      <p><strong>Nombre:</strong> {{ user.nombre }}</p>
      <p><strong>Usuario:</strong> {{ user.num_documento }}</p>
      <p><strong>Correo electrónico:</strong> {{ user.email }}</p>
    </div>
    <section class="contentButton">
      {% url 'change_password_manager' user.num_documento as url_change_password %} 
      <button id="botton-form" onclick="window.location.href='{{url_change_password}}'"><strong>Cambiar contraseña</strong></button>
      {% url 'edit_profile_manager' user.num_documento as url_edit %} 
      <button id="botton-form" onclick="window.location.href='{{url_edit}}'"><strong>Editar perfil</strong></button>
    </section>
</div> 
{% endblock %}