
.perfil-informacion{
    background-color: white;
    width: fit-content;
    padding:1.5em;
    margin-left: 5%;
    border-radius: 10px;
    font-size: calc(10px + 0.4vw);
}
.perfil-informacion #botton-form{
    padding: 0.8em !important;
    height: fit-content !important;
    font-size: calc(8px + 0.3vw);
    border: none;
}
.contentButton{
    justify-content: left;
}
